 <div class="row my-1">
    <div class="col custom-height">
      <svg id="svgDonutContainerarn" class="svg-big" width="435" height="200" viewBox="0 0 435 600" *ngIf="chartName=='svgDonutContainerarn'"></svg>
      <svg id="svgDonutContainerorders" class="svg-big" width="435" height="200" viewBox="0 0 435 600" *ngIf="chartName=='svgDonutContainerorders'"></svg>
      <svg id="svgDonutContainerstocks" class="svg-big" width="435" height="200" viewBox="0 0 435 600" *ngIf="chartName=='svgDonutContainerstocks'"></svg>
    </div>
  </div>
